body {
  background: black;
  margin: 0;
}

form {
  width: 90px;
  margin: 0;
  padding: 0;
}

#welcomeScreen {
  min-width: 1000px;
}

#titleContainer {
  height: 400px;
}

#title {
  text-align: center;
  font-size: 100px;
  font-family: 'Josefin Sans';
  color:white;
  margin: 40px;
  height: 220px;

  /* Disable highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

#titleCorsair {
  margin: 0;
  resize: none;
}

#wheel {
  position: relative;
  bottom: 250px;
  right: 200px;
/*  border: 1px dashed red;*/
}

#trophyButton {
  padding: 0;
  border: none;
  background: none;
}

#trophyImage{
  height: 80px;  
  width: 80px;
  opacity: 0.4;
}

#buttonAndTextField {
  margin: 0 auto; 
  width: 50%;
  text-align:center;
  position:relative;
}
 
#trophyImage:hover {  
   opacity: 1;
}  

#textField {
  position: relative;
  border-color:#cccccc; 
  font-size:18px; 
  font-family: 'Josefin Sans';
  text-align:center; 
  border-radius:21px; 
  border-style:hidden; 
  margin:auto;
  background-color:#3d003d; 
  color:#ffffff; 
  padding:12px; 
  margin-bottom: 30px;
  border-width:13px; 
  text-shadow:0px 0px 0px rgba(42,42,42,.75);  
}


#textField:focus {
  outline: none;
}

#playButton {
  position: relative;
  width: 100px;
  height: 40px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Josefin Sans';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
}

#playButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#game_canvas {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
